/node_modules
node_modules/
/build
src/resizedImgs/Inter_90_20.jpeg
src/resizedImgs/Inter_900_20.jpeg
src/resizedImgs/Inter_900_200.jpeg
src/resizedImgs/Inter_900_400.jpeg
src/resizedImgs/Inter_900_2000.jpeg
src/resizedImgs/Inter_900_2700.jpeg
